body {
    background-color: rgb(17, 17, 20);
}

header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: snow;
    padding: 8px 40px; /* t lr */
}

img {
    position: relative;
    max-height: 75%;
    max-width: 75%;
    margin: 10px 10px; /* t b */
}

footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: snow;
    margin-top: 220px;
    margin-bottom: 25px;
}